build
tags
cscope*
*.core
*.gcda
*.gcno

# don't commit source for shared projects
subprojects/agentd
subprojects/gtest
subprojects/libevent
subprojects/lmdb
subprojects/minunit
subprojects/rcpr
subprojects/vcblockchain
subprojects/vccert
subprojects/vccrypt
subprojects/vcdb
subprojects/vcmodel
subprojects/vpr
subprojects/googletest
